body {
  display: flex;
  accent-color: var(--color-accent);
  justify-content: center;
  margin: 0 3vw; /* Adds a small margin on the sides */
  padding: 0 2vw; /* Optional: Adds a tiny padding */
  align-items: center;
  flex-direction: column;
  font-family: Arial, sans-serif;
}
/* 
----------------------------------------------------------------------------------------------------------------------
-------------------------------------------------- NAVIGATION BAR -----------------------------------------------------
*/

nav {
  display: flex;
  margin-bottom: 1em;
  border-bottom-width: 1px;
  border-bottom-style: solid;
   --border-color: oklch(50% 10% 200 / 40%);
  border-bottom-color: var(--border-color);
  

  ul, 
  ul li {
      display: contents;
  }

  a {
      flex: 1;
      text-decoration: none;
      color: inherit;
      text-align: center;
      padding: 0.5em;
      transition: all 0.3s ease;
      
      &.current{
          flex: 1;
          border-bottom-width: 0.4em;
          padding-bottom: 0.2em;
          border-bottom-color: var(--color-accent);
      }

      &:hover{
          border-bottom: 0.4em solid var(--color-accent);
          background-color: color-mix(in oklch, var(--color-accent), canvas 85%);
          padding-bottom: 0.2em;
      }
  }

}



#main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 900px
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; 
  flex-wrap: wrap;
}

h3 {
  font-size: 20px;
  margin-bottom: 15px;
  text-align: top;
}

.organ-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex: 1; /* Ensures organs are centered */
  gap: 30px; /* Add space between organs */
}

.organ {
  width: 100px;
  height: auto;
}

.pie-chart-container {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 2; /* Ensures pie charts stay at the sides */
  text-align: center;
  position: relative;
}

.left-chart {
  order: -1; 
  margin-right: 80px;
}

.right-chart {
  order: 1; 
  margin-left: 80px; 
}


#toggle-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width:400px;
  margin: 20px;
  gap: 10px;
}

#dots-container {
  display: flex;
  justify-content: space-evenly;
  width: 300px;
  gap: 10px;
}

.dot {
  width: 12px;
  height: 12px;
  background-color: grey;
  border-radius: 50%;
  display: space-between;
}

.dot.active {
  background-color: red;
}

button {
  background: none;
  border: 1px solid black;
  font-size: 14px;
  padding: 5px 10px;
  cursor: pointer;
  background-color: white;
  transition: 0.2s;
}

button:hover {
  background-color: lightgrey;
}
#arrow-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.chart-text-container {
  width: 250px;
  padding-left: 10px;
  font-size: 14px;
  top:-30px;
  margin-bottom:30px;
  text-align: left;
}

/* Ensure text is positioned to the right or left */
.left-chart .chart-text-container {
  text-align: center;
  padding-left: 0;
  padding-right: 18px;
}

.right-chart .chart-text-container {
  text-align: center;
  padding-left: 18px;
}
#arrow-svg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}